<nav class="nav">
   <a class="nav-link" href="#bio">Bio</a>
  <a class="nav-link" href="#skills">Skills</a>
  <a class="nav-link" href="#tech">Tech Stack</a>
  <a class="nav-link" href="#awards">Awards & Recognitions</a>
</nav>





<div class="main"> 
  <p class="display-1" >Asia Watts, Associate Software Engineer</p>
  <div class="center">
   
    <img src="assets\headshot.png" id="round" alt="photo">
  </div>


<div class="Bio" id="bio"> 

 
  
<h2>Background</h2>
<p>I am an Associate Software Engineer in Training at Rocket Mortgage. I joined the family of companies in 2013. My journey here began at Amrock where I worked as a Closing Coordinator. In this role, I was responsible for preparing and reviewing Notary Closing packages and preparing HUD Settlement Fee Sheets for our Lender Clients. After a couple years working as a Closing Coordinator, I decided that I wanted to expand my mortgage knowledge and transferred over to Rocket Mortgage where I started my career as a Collateral Underwriter. As a Collateral Underwriter I used various tools to review, analyze and underwrite residential collateral for new loan originations. While working as a Collateral Underwriter I was presented with the opportunity to become a Collateral Auditor where I reviewed Team Member underwrites for accuracy and provided feedback to team members based on audit findings.  </p>
<h2>More About Me</h2>
<p>Outside of work, I am a wife and mother of three-year-old girl. I enjoy hanging out with my family, traveling, and listening to podcasts. I would also consider learning to be a hobby of mine. I consider myself a lifelong learner. I am always looking to learn something new whether it is picking up a new skill or learning to make custom items using my cricket machine. Learning is truly fun to me. I love to connect with new people with shared interests! </p>
<h2>Why Technology?</h2>
<p>After working in the mortgage industry for nearly 9 years I decided that I needed a new challenge and I wanted to pursue a more fulfilling career path. I became drawn to pursuing coding as a career option after attending a workshop presented by a local nonprofit. After attending the workshop and learning about the various technology roles, I decided to begin shadowing various roles here in the FOC, attending Tech U trainings and enrolled in a Front-End Software Engineering Bootcamp at Grand Circus. I quickly began to love the field of Software Engineering. Technology interests me because it is a field where I can learn, grow, contribute, and make a direct impact. I love that in the field of technology I can work on projects that align directly with my passions and interests.</p>

</div>


<figure class="text-center">
  <blockquote class="blockquote">
    <p>There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">Colin Powell</cite>
  </figcaption>
</figure>

<div class="skills" id="skills">
<h2 class="center-header" id="tech">Tech Stack</h2>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>MVC</li>
    <li>C# .Net</li>
    <li>SQL</li>
    <li>Agile Fundamentals</li>
    <li>Postman</li>
    <li>JavaScript</li>
    <li>Angular</li>
    <li>NodeJS</li>
    <li>Express</li>
    <li>AWS</li>
  </ul>

</div>

<div class="awards" id="awards">
  <h2>Awards and Recognitions</h2>
<h4>February 2021- CAVS Coin Recipient - Team Player</h4>
<img src="assets\CAVSCOIN.jpg" class="rounded mx-auto d-block" alt="cavs coin">

</div>



<h2>Get in Touch!</h2>
<a  href="mailto:wattsasiak@gmail.com">Click here to send me an email</a>
<br>
<a href="https://github.com/wattsasiak">Check out my GitHub</a>
<br>
<a href="https://www.linkedin.com/in/asia-w-239a9b196">Connect with me on LinkedIn!</a>
</div>